@using Microsoft.AspNetCore.Antiforgery
@using RoadAppWEB.Models.ViewModel;
@model FacilityRoadNode

@{
    ViewData["Title"] = "InfraStructure";
}
<h2>Infrastructure Structure</h2>

<p>Hello from our Infrastructure Structure!</p>
