@using Microsoft.AspNetCore.Antiforgery
@using RoadAppWEB.Models.ViewModel;
@model FacilityRoadNode
@inject IAntiforgery Antiforgery

@{
    ViewData["Title"] = "Node Data";
}
<table class="layui-hide" id="demo" lay-filter="test"></table>


<script src="~/lib/layui/layui.js"></script>
<script>
    // 等待页面加载完成
    document.addEventListener('DOMContentLoaded', function () {
        // 创建新的 HTML 内容
        var newSideScroll = document.createElement('div');
        newSideScroll.className = 'layui-side-scroll';

        // 创建新的左侧导航区域
        var newNav = document.createElement('ul');
        newNav.className = 'layui-nav layui-nav-tree';
        newNav.setAttribute('lay-filter', 'test');

        var headItem1 = document.createElement('li');
        headItem1.className = 'layui-nav-item';
        var txtandicon1 = document.createElement('a');
        txtandicon1.text = "设施网格数据";
        var icon1 = document.createElement('i');
        icon1.className = "layui-icon layui-icon-down layui-nav-more";
        txtandicon1.appendChild(icon1);
        headItem1.appendChild(txtandicon1);

        var childClass1 = document.createElement('dl');
        childClass1.className = 'layui-nav-child';
        headItem1.appendChild(childClass1);

        var headItem2 = document.createElement('li');
        headItem2.className = 'layui-nav-item';
        var txtandicon2 = document.createElement('a');
        txtandicon2.text = "拓扑关系数据";
        var icon2 = document.createElement('i');
        icon2.className = "layui-icon layui-icon-down layui-nav-more";
        txtandicon2.appendChild(icon2);
        headItem2.appendChild(txtandicon2);

        var childClass2 = document.createElement('dl');
        childClass2.className = 'layui-nav-child';
        headItem2.appendChild(childClass2);

        newNav.appendChild(headItem1);
        newNav.appendChild(headItem2);

        // 创建导航项
        var navItems = [
            { action: 'InfraData', text: '高架数据' },
            { action: 'RoadData', text: '道路数据' },
            { action: 'NodeData', text: '桩号数据' },
            { action: 'HubNodeData', text: '枢纽桩号数据' },
            { action: 'AllNodeData', text: '桩号归属数据' },
        ];
        var index = 1;
        navItems.forEach(function (item) {
            var navItem = document.createElement('dd');

            var navLink = document.createElement('a');
            var controller = "Map";
            var action = item.action;
            if (action == "@ViewData["SelectedNavItem"]") {
                navItem.className = 'layui-this';
                if (index <= 3) {
                    headItem1.className += " layui-nav-itemed";
                }
                else {
                    headItem2.className += " layui-nav-itemed";
                }
            }
            var route = "/" + controller + '/' + action + '/?username=' + "@ViewData["username"]"

            // 设置正确的 asp-page 属性
            navLink.setAttribute('href', route);
            navLink.innerText = item.text;
            navItem.appendChild(navLink);

            if (index <= 3) {
                childClass1.appendChild(navItem);
            }
            else {
                childClass2.appendChild(navItem);
            }

            index++;
        });

        // 将新的左侧导航区域添加到新的 HTML 内容中
        newSideScroll.appendChild(newNav);

        // 获取原有的容器元素
        var originalSide = document.getElementById('originalSide');

        // 将新的 HTML 内容添加到原有容器元素中
        originalSide.appendChild(newSideScroll);
    });

    // Assuming nodes is an array of node objects
    var nodes = @Html.Raw(Json.Serialize(Model.Nodes));

    // Create nData by mapping over nodes
    var nData = nodes.map(node => ({
        id: node.id,
        hubnode: node.hubnode,
        fathernode: node.fathernode,
        childnode: node.childnode,
        road_id: node.road_id,
        level: node.level,
        longitude: node.longitude,
        latitude: node.latitude,
        span: node.span
    }));


    // layUI
    layui.use('table', function () {
        var table = layui.table;
        var limit = 10;
        // Check if the length of data is greater than 20
        if (nData.length > 20) {
            limit = 20;
        }
        //第一个实例
        table.render({
            elem: '#demo'
            , height: 895
            , data: nData
            , title: '用户表'
            , page: true //开启分页
            , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , cols: [[ //表头
                { type: 'checkbox', fixed: 'left' }
                , { field: 'id', title: '桩号名称', width: 200, sort: true, fixed: 'left' }
                , { field: 'road_id', title: '所属路段', width: 200 }
                , { field: 'fathernode', title: '父桩号', width: 200 }
                , { field: 'childnode', title: '子桩号', width: 200 }
                , { field: 'span', title: '间距', width: 150 }
                , { field: 'longitude', title: '经度', width: 250 }
                , { field: 'latitude', title: '维度', width: 250 }
                , { field: 'level', title: '层级', width: 100 }
            ]]
            , limit: limit
        });
    });
</script>