@model RoadAppWEB.Models.node

@{
    ViewData["Title"] = "Edit";
}

@*<h1>Edit</h1>

<h4>@Model.id</h4>*@

<div class="row">
    <div class="col-md-4" style="width: auto;height: auto;">
        <form asp-controller="Map" asp-action="NodeEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" id ="nodeEditID"/>
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hubnode" class="control-label"></label>
                <input asp-for="hubnode" class="form-control" id="nodeEditHubnode" />
                <span asp-validation-for="hubnode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fathernode" class="control-label"></label>
                <input asp-for="fathernode" class="form-control" id="nodeEditFathernode" />
                <span asp-validation-for="fathernode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="childnode" class="control-label"></label>
                <input asp-for="childnode" class="form-control" id="nodeEditChildnode" />
                <span asp-validation-for="childnode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="road_id" class="control-label"></label>
                <input asp-for="road_id" class="form-control" id="nodeEditRoadID" />
                <span asp-validation-for="road_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="level" class="control-label"></label>
                <input asp-for="level" class="form-control" id="nodeEditLevel" />
                <span asp-validation-for="level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="longitude" class="control-label"></label>
                <input asp-for="longitude" class="form-control" id="nodeEditLongitude" />
                <span asp-validation-for="longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="latitude" class="control-label"></label>
                <input asp-for="latitude" class="form-control" id="nodeEditLatitude" />
                <span asp-validation-for="latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="span" class="control-label"></label>
                <input asp-for="span" class="form-control" id="nodeEditLatitude" />
                <span asp-validation-for="span" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
